{% extends 'base.html.twig' %}

{% block title %}
    Accuei
{% endblock %}

{% block body %}
    <h1>Liste des catégories de notre catalogue !</h1>

   <ul>
        {% for category in categories %}
<li>{{ category.title }} ({{ category.products | length}} produit dans cette catégorie)<a href="{{ path('category_show', {'slug': category.slug}) }}" >Lire la suite ...</a></li>
            
        {% endfor %}
    </ul>

{% endblock %}